<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bakery Collaborative</title>

	<!-- kills favicon.ico 404 error -->
    <link rel="icon" href="data:;base64,iVBORwOKGO=">
       <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
     <!-- Custom styles for this template -->
    <link href="static/css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="custom.css">
	<script src="https://d3js.org/d3-time-format.v2.min.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>


</head>

<body>
	<div id="wrapper">
 <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="index.html">Multi-Line Graph</a>
                </li>
                <li>
                    <a href="index2.html">Popular Items</a>

                </li>
                <li>
                    <a href="index3.html">Yearly Weather Chart</a>
                </li>
                <!--<li> -->
                  <!-- This will link to our data stored on Google -->
                 <!-- <a href="#">Raw Data</a> -->
                <!--</li> -->
                <li>
                    <a href="https://github.com/ghassan100/GroupProject-2">About</a>
                </li>

            </ul>
        </div>
         <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
              <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
                <h1>Popular Item</h1>
                <p>Click on the see our sales <br>
                </p>
                <p></p>


    <div id="svg-here" class="frosted-glass"> </div>
    </div>
	</div>
</div>
</body>
	<script src="~ghassan/Group.js">
    </script>
    <script src="/Users/ghassan/p2/Project-2/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>
</html>
