<!DOCTYPE html>
<html lang="en">

<head>
    <title>DC Weather Collaborative</title>
    <!--This page is for the vega_scatter plot
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- kills favicon.ico 404 error -->
    <link rel="icon" href="data:;base64,iVBORwOKGO=">
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- uploads Vega to render graph -->
    <script src="https://vega.github.io/vega/vega.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@3"></script>
    <!-- Custom styles for this template -->
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/custom.css">
    <!-- Styling for vega -->
    <style>
      body {
        font-family: sans-serif;
      }

     .vega-actions a {
       padding: 0.2em;
      }
    </style>

</head>

<body>

    <div id="wrapper">

          <!-- Sidebar -->
          <div id="sidebar-wrapper">
              <ul class="sidebar-nav">
                  <li class="sidebar-brand">
                      <a href="index.html">Multi-Line Graph</a>
                  </li>
                  <li>
                      <a href="index2.html">Weather Map</a>
                  </li>
                  <li>
                      <a href="index3.html">Yearly Weather Chart</a>
                  </li>
                  <!--<li> -->
                    <!-- This will link to our data stored on Google -->
                     <!-- <a href="#">Raw Data</a> -->
                  
                  <li>
                    <!-- Do we want this to be where we put our write-up of how we made this -->
                      <a href="https://github.com/DavisCardwell/Project-2">About</a>
                  </li>

              </ul>
          </div>
          <!-- /#sidebar-wrapper -->


        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="frosted-glass">
            <div class="container-fluid" >
              <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
                <h1>Weather Predictions</h1>


                <p> <h3>Chart # 2</h3>
                This weather bubble plot presents five years of daily data from the openweathermap API for the LWX (Baltimore/DC) office. <br>
                To create this graph we utilized the Vega library which uses JSON to transfer the commands to JavaScript.<br>
                There are four views: hourly in Fahrenheit or Celsius, and daily (F or C) with temperature on y, and time on x. <br>  
                The x-ticks are weather phenomena (sun, snow, rain, fog, drizzle) for color, and precipitation as the size of the circle. <br>
                Below the bubble plot is a horizontal bar chart describing the weather phenomena (sun, snow, rain, fog, drizzle) & number of records of that phenomena.
                <br>
                </p>
                <p></p>

            </div>
            <div class="btn-group btn-group-xs" role="group">
              <button type="button" class="btn btn-xs" value="/static/data/vega_scatter_simple_fh.json">Daily &degF</button>
              <button type="button" class="btn btn-xs" value="/static/data/vega_scatter_simple_cs.json">Daily &degC</button>
              <button type="button" class="btn btn-xs" value="/static/data/vega_scatter_complex_fh.json">Hourly &degF</button>
              <button type="button" class="btn btn-xs" value="/static/data/vega_scatter_complex_fh.json">Hourly &degC</button>
            </div>
          <div class="frosted-glass" >
          <div id="vis"></div>
        </div>
      </div>
        <!-- /#page-content-wrapper -->

    </div>
  </div>

    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->

    <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <script>
      var vega_scatter = "./data/vega/vega_scatter_simple_fh.json";
      vegaEmbed('#vis', vega_scatter).catch(console.warn);
    </script>
    <script type="text/javascript">
      $('.btn').on('click', function (e) {
        vega_scatter = this.value;
        vegaEmbed('#vis', vega_scatter).catch(console.warn);
      })
    </script>
</body>

</html>
