<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DC Weather Collaborative</title>
	<link rel="stylesheet" href="style.css">

	<!-- kills favicon.ico 404 error -->
    <link rel="icon" href="data:;base64,iVBORwOKGO=">
       <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
     <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="css/custom.css">
	<script src="https://d3js.org/d3-time-format.v2.min.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>


</head>

<body>
	
     <div>  
	<script src="daily_predicted_multiline.js"></script>
	</div>
	 <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Menu Toggle Script -->

</body>
</html>
