<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <script src="https://vega.github.io/vega/vega.js"></script>
<!-- kills favicon.ico 404 error in Flask app-->
 <link rel="icon" href="data:;base64,iVBORwOKGO=">

  <script src="https://cdn.jsdelivr.net/npm/vega@3"></script>
	<script src="https://cdn.jsdelivr.net/npm/vega-lite@2"></script>
	<script src="https://cdn.jsdelivr.net/npm/vega-embed@3"></script>
  <style>
    body {
      font-family: sans-serif;
    }

    .vega-actions a {
      padding: 0.2em;
    }
  </style>
</head>

<body>
  <div id="vis"></div>

  <script>
var vega_scatter = {{ data.chart_data | safe }}
//    var vega_scatter = "./data/vega/vega_scatter_simple_cs.json";
  	vegaEmbed('#vis', vega_scatter).catch(console.warn);
  </script>
</body>
